#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#0e1c21",
    floating_border_color: "#b1acb1",
    focused_border_color: "#c2c6c7",
    background_color: "#0e1c21",
)